<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
</head>
<body>
<header>
    <nav class="navbar navbar-light bg-light">
        <a class="bi-umbrella" style="font-size: 2rem;">Weather Report</a>
        <a class="display: inline-block; navbar-brand" href="/weather/{{ current_user.city }}">weather forecast</a>
        <a class="display: inline-block; navbar-brand" href="/weather">weather in other cities</a>
        <a class="display: inline-block; navbar-brand" href="/">telegram bot</a>
        <form class="input-group" method="POST">
            <input type="text"
                   name='query' class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
            <button type="submit" class="btn btn-outline-primary">search</button>
        </form>

    </nav>
</header>
<!-- Begin page content -->
<main role="main" class="container">
    {% block content %}{% endblock %}
</main>

</body>
</html>
